.About {
  position: relative;
  min-height: fit-content;
  overflow: hidden;
  width: 100vw;
  background-color: #333;
  padding-bottom: 0px;
}

.aboutContent {
  max-width: 1050px;
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 3rem;
}

.aboutContent .borderLine .upline {
  width: 90%;
}

.content {
  display: flex;
  align-items: center;
  max-width: 1050px;
  gap: 40px;
  margin-top: 3rem;
}

.aboutContent .content .left ul {
  list-style: none;
}
.aboutContent .content .left ul li {
  color: #ffffff8c;
}
.headingwithIcon {
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.aboutContent .content .left ul span {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.aboutContent .content .right img {
  width: 100%;
  height: 400px;
}

.workContent {
  margin-top: 5rem;
}
.workContent .content {
  gap: 5rem;
}
.workContent .content .right ul {
  list-style: none;
}
.workContent .content .right ul li {
  color: #ffffff8c;
}
.workContent .content .right ul span {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.workContent .left {
  position: relative;
  display: inline-block;
}
.workContent .left img {
  width: 400px;
  height: 480px;
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease;
}
.workContent .left::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 2px solid #fff;
  border-radius: 8px;
  transition: transform 0.3s ease;
  z-index: 0;
}
.left:hover::before {
  transform: scale(1.1);
}

.left:hover img {
  transform: scale(1.05);
}

.right .btn{
  background-color: #bab86c;
  margin-top: 1rem;
  text-align: center;
}
.right .btn:hover{
  background-color: #cecb78;
}

@media screen and (max-width: 678px) {
  .About {
    margin-top: 3rem;
  }
  .aboutContent {
    max-width: 1050px;
    margin: 0 auto;
    width: 90%;
  }
  .content {
    flex-direction: column-reverse;
    margin: 1rem auto;
  }
  .workContent .left img {
    width: 340px;
    height: 370px;
  }
}
