.process {
  background-color: #333;
  width: 100%;
  min-height: 500px;
  padding: 5rem;
}

.process .borderLine .upline {
  width: 270% !important;
}

/* ProcessFlow.css */
.process-flow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  padding: 20px;
  margin-top: 24px;
  border-radius: 10px;
  overflow-x: auto;
  height: 400px;
  position: relative;
  background-image: url("../../assets/ProcessIcons/Vector2.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: calc(100% - 40px) calc(100% - 40px);
}

.process-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  width: 150px;
  height: 135px;
  padding: 10px;
  background-color: #333333;
  border-radius: 8px;
  text-align: center;
}

.process-step img {
  width: 70%;
  height: 70%;
  margin-bottom: 8px;
}
.process-step h1 {
  font-size: 12px;
}

.process-step:first-child {
  position: absolute;
  bottom: 175px;
  left: 10px;
}
.process-step:nth-child(2) {
  position: absolute;
  top: 20px;
  left: 240px;
}
.process-step:nth-child(3) {
  position: absolute;
  top: 200px;
  left: 40%;
}
.process-step:nth-child(4) {
  position: absolute;
  bottom: 25px;
  right: 250px;
}
.process-step:nth-child(5) {
  position: absolute;
  top: 12px;
  right: 270px;
}

.process-step:last-child {
  position: absolute;
  bottom: 222px;
  right: 5px;
}

@media screen and (max-width: 768px) {
  .process {
    padding: 2rem;
  }
  .process-flow {
    height: 570px;
  }

  .process-step:first-child {
    position: absolute;
    bottom: 415px;
    left: 20px;
  }
  .process-step:nth-child(2) {
    position: absolute;
    top: 60px;
    left: 190px;
  }
  .process-step:nth-child(3) {
    position: absolute;
    top: 195px;
    left: 20px;
  }
  .process-step:nth-child(4) {
    position: absolute;
    top: 240px;
    left: 190px;
  }
  .process-step:nth-child(5) {
    position: absolute;
    top: 375px;
    left: 20px;
  }
  .process-step:last-child {
    position: absolute;
    top: 410px;
    left: 190px;
  }
}
