/* General Styling for the Navbar */
.navbar {
  position: absolute;
  background: rgba(
    255,
    255,
    255,
    0.1
  ); /* Semi-transparent white for glass effect */
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  color: #333;
  height: 70px;
  display: flex;
  z-index: 10;
  backdrop-filter: blur(10px); /* Blurs content behind the navbar */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.3); /* Light border for emphasis */
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.navbar-logo {
  margin-left: 5rem;
}

.navbar-logo a {
  position: absolute;
  top: -16px;
  left: -10px;
  width: 300px;
}
.navbar-logo img {
  width: 100%;
  height: 100%;
}
.navbar-menu {
  display: flex;
  list-style: none;
  margin-top: 10px;
  transition: transform 0.5s ease-in-out; /* Add transition for shutter effect */
  transform: translateY(-20%); /* Start off-screen */
}

.navbar-menu.active {
  transform: translateY(0); /* Move into view when active */
}

.navbar-menu li {
  margin-left: 2rem;
}

.navbar-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.navbar-menu li a:hover,
.navbar-menu .active-link {
  color: #bab86c; /* Color for active link */
  font-weight: bold;
}

/* Hamburger Menu for Mobile */
.navbar-hamburger {
  display: none;
  color: #333;
  font-size: 2rem;
  cursor: pointer;
}

/* Button Styling */
.navbar-button {
  margin-right: 4rem;
}

.web{
  display: block;
}
.mobile{
  display: none;
  margin-left: 5rem !important;
}

/* Responsive Design */
@media (max-width: 786px) {
  /* Display the hamburger icon only on mobile */
  .navbar-hamburger {
    display: block;
  }

  .navbar-container {
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
  }
  .navbar-logo {
    margin-left: 0rem;
  }
  .navbar-logo a {
    position: absolute;
    top: -4px;
    left: 10px;
    width: 110px;
}
  /* Hide the navbar menu initially */
  .navbar-menu {
    display: flex;
    position: absolute;
    top: 70px; /* Position below the navbar */
    left: 0;
    background-color: #333;
    flex-direction: column;
    width: 100%;
    text-align: left;
    opacity: 0; /* Start invisible */
    visibility: hidden; /* Hide it completely when inactive */
  }

  /* Show the navbar menu when mobileMenuOpen is active */
  .navbar-menu.active {
    opacity: 1; /* Fade in */
    visibility: visible; /* Make it visible */
  }

  .navbar-menu li {
    margin-left: 0rem;
  }

  .navbar-menu li a {
    color: #fff;
    padding: 1rem 2rem;
    width: 100%;
    display: block;
  }

  /* Hide button on mobile */
  .navbar-button {
    display: none;
  }
  .web{
    display: none !important;
  }
  .mobile{
    display: block;
  }
}
