.whyus {
  background-color: #333;
}
.whyus .borderLine .upline {
  width: 100% !important;
}

.cards {
  display: flex;
  margin-top: 50px;
  gap: 25px;
}
.card {
  background-color: #615e5e;
  padding: 20px;
  border-radius: 20px;
  width: 260px;
  height: 250px;
}
.card h3 {
  color: #fff;
}
.card p {
  margin-top: 10px;
  color: #ffffff8c;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bigBtn {
  display: block;
  margin-top: 50px;
  text-align: center;
  padding: 1rem 1.6rem;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: #bab86c;
}

@media screen and (max-width: 768px) {
  .whyus {
    padding: 2rem;
  }
  .cards {
    flex-direction: column;
  }
  .card {
    width: 100%;
    height: 190px;
    margin: 0 auto;
  }
  .bigBtn {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
  }
}
