/* General Footer Styling */
.footer {
  background-color: #333;
  color: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  margin-bottom: 1.5rem;
}

.footer-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Footer Logo Styling */
.footer-logo a {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

/* Footer Navigation Links Styling */
.footer-nav ul {
  list-style: none;
  padding: 0;
  text-align: end;
}

.footer-nav ul li {
  margin-bottom: 0.5rem;
}

.footer-nav ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-nav ul li a:hover {
  color: #f0a500;
}

/* Footer Social Links Styling */
.footer-social a {
  margin: 0 0.5rem;
  color: #fff;
  font-size: 1.5rem;
}

.footer-social a:hover {
  color: #f0a500;
}

/* Footer Bottom: Copyrights */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: flex-end;
  font-size: 0.9rem;
  color: #aaa;
}
.dropdownFlex {
  display: flex;
}

@media screen and (max-width: 768px) {
  .footer-bottom {
    width: 100%;
  }
}
