.FooterContainer {
  float: left;
  width: 100%;
  background: #363636;
  padding-top: 25px;
  padding-bottom: 0;
}
.footer {
  display: flex;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  gap: 20px;
}
.col {
  padding-right: 20px;
}
.col:last-child {
  padding-right: 0px;
}

.MuiSvgIcon-root {
  width: 20px !important;
  height: 20px !important;
}

.LogoText .text {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  padding-left: 16px;
  line-height: 1.6;
}

.footer h4 {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer li {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  font-size: 13px;
  line-height: 1.6;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 5px;
}
.footer li a {
  display: flex;
  width: 100%;
  font-size: 13px;
  line-height: 1.6;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
}
.footer li a:hover{
  color: #bab86c;
}

.payment-methods li{
  display: flex;
  align-items: center;
}
.payment-methods li p{
  font-size: 14px;
  font-weight: 600;
}

.endText {
  background: #bab86c;
  margin-top: 49px;
  color: #fff;
  padding: 8px 0;
}
.endText p {
  padding: 0 20px;
  font-size: 13px;
}

@media screen and (max-width: 768px) {
  .footer{
    flex-direction: column;
  }
  .col{
    width: 100% !important;
  }
  .col:not(:first-child){
    padding-inline: 20px;
  }
  .contact-info{
    margin-bottom: 0px;
  }
}
